<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <GasVents>Gas Vents</GasVents>

    <GasVents.FuelPerTick0>Vents will not consume fuel when dispensing gas.</GasVents.FuelPerTick0>
    <GasVents.FuelPerTick100>Vents will consume 1 shell every hour</GasVents.FuelPerTick100>
    <GasVents.FuelPerTickX>Vents will consume {0}% of a shell every hour</GasVents.FuelPerTickX>

    <GasVents.CellsPerTick1>Vents will fill 1 cell with gas every hour</GasVents.CellsPerTick1>
    <GasVents.CellsPerTickX>Vents will fill {0} cells with gas every hour</GasVents.CellsPerTickX>
</LanguageData>
